# Venv
.venv

# Python artifacts
__pycache__/
*.egg-info/
*.pyc
.coverage
.coverage.*
.coverage-files/
coverage.xml
.pytest_cache/*

# Temp files
/tmp*

# docs
site

# pkglink sources
.codeguide*
.editorconfig
